{% extends "auctions/layout.html" %}

{% block body %}
    <div align=center><h1>{{ title }}</h1></div>
	<ul style="list-style-type:none"> 
		{% for listing in listings %}

			<li class="list"> 
				<div class="grid-container">
					<div class="grid-item item1" style="text-align: right"><a href="{% url 'viewlisting' listingid=listing.id %}"><image class="activeimage" src='{{listing.image_link}}'></image></a>
					</div>
					<div class="grid-item item2"><h2>{{ listing.title }}</h2></div>
					<div class="grid-item item3">	
						{% if listing.bid_amount > 0 %}
							<label id="lblprice">Current Bid: </label> $ {{ listing.bid_amount|floatformat:2 }} 
						{% else %}
							<label id="lblprice">Current Bid: </label> $ {{ listing.startbid|floatformat:2 }} 
						{%endif %}	
					</div>	
					{% if userauth %}
						{% if viewtype == 'active' %}
							{% if listing.watchlist == 'false' %}
								<div class="grid-item item3"><a class="link" href="{%url 'watchlist' listingid=listing.id %}">Add to Watchlist</a></div>
							{% else %}
								<div class="grid-item item3"><a class="link" href="{%url 'watchlist' listingid=listing.id remove=2%}">Remove from Watchlist</a></div>
							{% endif %}	
						{% else %}
							<div class="grid-item item3"><a class="link" href="{%url 'watchlist' listingid=listing.id remove=1%}">Remove from Watchlist</a></div>
						{% endif %}	
					{%endif%}	
					<div class="grid-item item4">{{ listing.description }}</div>
					{% if listing.active == False %}
						{%if listing.bid_amount > 0 %} 
							<div class="grid-item item4"><label class="lblclosed" >AUCTION CLOSED</label></div>	
						{%else%}
							<div class="grid-item item4"><label class="lblclosed" >ACTION CLOSED WITH NO WINNERS</label></div>	
						{%endif%}	
					{%endif%}	
					<div class="grid-item item5">Created: {{ listing.listing_date }}</div>
					<hr>
				</div>
			</li>
			<hr>
		{% empty %}
			No lisings 
		{% endfor %}
	</ul>
		
{% endblock %}
