{% extends "auctions/layout.html" %}

{% block body %}
    <div align=center><h1>{{ formlabel }} Listing </h1></div>
	<form action="{%url 'newlisting' formtype %}" method="post">
		{% csrf_token %}
		
				<div class="grid-container-create">
						<div class="grid-item viewitem1"><input type="text" label="Title" name="title" placeholder="Title" size ="50" required value='{{ title }}'  style="font-size: medium;"></div>
						<!-- <div class ="item4">{{ error }}</div> -->
						<div class="grid-item viewitem2"><textarea name="description" style="rows: 5" placeholder="Description" required>{{ scontent }}</textarea></div>
						<div class="grid-item viewitem3"><input type="text"  style="font-size: small;" label="Image" name="imageurl" placeholder="Image URL" value='{{ image }}'></div>
						<div class="itemimage"><img src='{{ image }}' class='image'></div>
						<div class="grid-item viewitem4">
							<label style="font-size: small">Category: </label> <select  name="category" id="" style="font-size: small;">
								{% for category in categories %}
									{%if selectedcategory.id == category.id%}
										<option value="{{ category.id }}" selected>{{ category.category_name }}</option>
									{%else%}
										<option value="{{ category.id }}">{{ category.category_name }}</option>
									{%endif%}	
								{% endfor %}
							</select>	
						</div>
						<div class="grid-item viewitem5"><input type="text" label="Starting Bid" name="startbid" placeholder="Starting Bid..." value='{{ startbid }}'></div>
						<input type=hidden name='listingid' value='{{ listingid }}'>			
						<div class="grid-item viewitem6"><input type=button class="btn" onclick="history.back();" value="Back"> <input type="submit" class="btn" value="Save"></div>
				</div>		
		
	</form>
{% endblock %}
