{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ formlabel }} Listing</h2>
	<form action="{%url 'newlisting' 'add' %}" method="post">
		{% csrf_token %}
		<div class="form-flex-container">
			<div class="form-grid-container">
				<div class="item1"><input type="text" label="Title" name="title" placeholder="Title" size ="50" required></div>
				<!-- <div class ="item4">{{ error }}</div> -->
				<div class="item2"><textarea name="description" style="rows: 5" placeholder="Description" required>{{ scontent }}</textarea></div>
				<div class="item3"><input type="text" label="Image" name="imageurl" placeholder="Image URL"></div>
				<select class="item4" name="category" id="">
					{% for category in categories %}
						<option value="{{ category.id }}">{{ category.category_name }}</option>
					{% endfor %}
				</select>				
				<div class="item5"><input type="submit" class="submit" value="Save"></div>
			</div>	
		</div>		
		
	</form>
{% endblock %}
